{{#> layout/base }}

{{#*inline "main-block"}}
  <main class="main">
        
        
        <section class="article">
            <article class="article-content">
                <div class="article-content__date">Sep 20</div>
                <div class="article-content__head">No difference how many peaks you reach if there was no pleasure in the climb.</div>
                <hr>
                <div class="article-content__content">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
                </div>

                <div class="button-more">Read More</div>
                <div>#Yosemite   #Peak   #Explorer</div>
            </article>
           
        </section>

        <section class="article-content">
            <img src="pages/index/1.png" alt="article pic" width="952" height="533" >
            <article class="article">
                
                <div class="article-content__date">Sep 18</div>
                <div class="article-content__head">You know, I'd rather argue with you, then laugh with anyone else. </div>
                <hr>
                <div class="article-content__content">Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finibus, tempor velit hendrerit, vulputate lacus. Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a euismod est, vitae accumsan purus. Proin aliquet ex massa, ac finibus magna commodo vitae. </div>
                <div class="article-content__content">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.

                    Sed sagittis commodo dolor. Vivamus elementum sem sed sapien bibendum viverra. Curabitur semper scelerisque turpis eu ullamcorper. Morbi tincidunt auctor orci id consequat. Nulla odio mi, iaculis id congue quis, euismod id nisi. In varius congue diam, et viverra lorem bibendum ut.

                </div>
                <div class="button-more">Read More</div>
                <div>#Yosemite   #Peak   #Photo</div>

            </article>

        </section>

    </main>
{{/inline}}

{{/layout/base }}
