.main {
   margin: 0 224px 105px 224px;
  padding: 0 98px 87px 98px;
  background-color: #ffffff;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);

  &-content{
  padding: 0 294px 0 294px;
  }


}

.article{
  padding: 58px 98px 58px 98 px;
}