  .nav-button{
  	display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    // Text style for "home"
    //color: #bdbdbd;
    // Text style for "profile"
    color: #333333;



  }

.tab{
	display: inline-block;
	width: 33px;
}